* {
  font-family: "Bricolage Grotesque", sans-serif;
}

.container {
  margin: 0 auto;
}

.spanDev {
  color: red;
}

/* linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), */

.bgLogin {
  background-image: url(../public/loginFondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
}

.label {
  font-size: x-large;
}

.divLogin {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.register:hover {
  color: blue;
}

html {
  scroll-behavior: smooth;
}

/* body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 100px;
} */

/* .img {
  background: linear(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
} */

.ahover:hover {
  color: red;
}
